@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');

:root {
    --text-color: #6A7BA2;
    --background-color: #AEE8FA;
    --accent-color: #A0C3D2;
}

/* 기본 스타일 */
html {
    scroll-behavior: smooth;
}

body, fieldset, ul {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

/* 이미지 위에 텍스트 편집 */
.content-wrap {
    position: relative;
}

/* 인기도시 */
#location-icon {
    font-size: xx-large;
    padding-right: 10px;
    font-weight: bold;
    color: var(--accent-color);
}

.popular-city-title {
    margin: 20px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 28px;
}

.popular-city-list p {
    font-size: large;
    font-weight: bold;
}

.popular-city-list img {
    transition: all 0.2s linear;
    width: 100%;
    height: auto;
}

.city-box:hover img {
    transform: scale(1.1);
}

.popular-city-list {
    display: flex;
}

.city-box {
    float: left;
    width: 440px; 
    margin: 0 20px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
}

#city-title {
    font-family: 'Abril Fatface', cursive;
    font-size: x-large;
    color: black;
}

#secondpage-button, #mappage-button {
    display: block;
    margin: 20px auto; 
    padding: 15px 30px;
    width: 200px; 
    height: 50px;
    background-color: #87ceeb;
    color: white;
    font-size: 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#secondpage-button:hover, #mappage-button:hover {
    background-color: #6ca6cd;
}

/* 여행 일정 계획 순서 */
#plan-order {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: large;
    margin: 80px 0;
}

/* 여행 일정 순서 아이콘 크기 조절 */
#arrow-icon {
    font-size: large;
    font-weight: bold;
    color: var(--text-color);
}

/* 여행 일정 계획 순서 폰트 수정 */
.order-title {
    align-items: center;
    justify-content: center;
}

.order-title .step {
    color: var(--accent-color);
    font-weight: bold;
    font-size: 38px;
}

.order-title p {
    font-size: large;
    text-align: center;
    color: #636363;
}

/* 여행 일정 title */
#chat-box {
    background-color: var(--background-color);
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
    color: black;
}

#chat-box p {
    margin: 0;
    line-height: 120%;
    padding: 8px 0;
}

#plane-icon {
    color: var(--text-color);
}

/* user 여행 일정 입력, 답변 칸 */
select option[value=""][disabled] {
    display: none;
    font-size: large;
}

/* 출발지, 여행지 */
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: large;
    padding-left: 8px;
    border: 1px solid black;
    border-radius: 4px;
}

/* 버튼 */
#button {
    width: 100%;
    height: 40px;
    font-size: x-large;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 10px;
    border-width: 0 0 3px 0;
    box-sizing: content-box;
    position: relative;
    background-color: var(--text-color);
    color: var(--background-color);
    border: 1px solid rgb(30, 37, 65);
    cursor: pointer;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

#button:active {
    border: 0;
    margin-top: 12px;
}

#button:disabled {
    background-color: #ccc;
}

/* 로딩 이미지 가운데 위치 */
#loading-gif {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* footer */
.footer {
    background-color: var(--background-color);
    color: var(--text-color);
    align-items: center;
    justify-content: center;
    height: 100px;
    display: flex;
    font-size: large;
}

/* scroll 버튼 */
#scroll-btn {
    cursor: pointer;
    opacity: 0;
    width: 80px;
    height: 80px;
    color: #fff;
    background-color: var(--text-color);
    position: fixed;
    bottom: 10%;
    right: 10%;
    border: 2px solid #ffffff;
    border-radius: 50%;
    font: bold 30px monospace;
    transition: opacity 0.5s, transform 0.5s;
}

#scroll-btn.show {
    opacity: 1;
    transition: opacity 1s, transform 1s;
}

.arrive, .select {
    width: 48%;
}

.user-tema {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.user-tema li {
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* 각 항목 사이의 간격 조정 */
}

.user-tema li input[type="checkbox"] {
    margin-right: 10px; /* 체크박스와 라벨 사이의 간격 조정 */
}
